<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- 사용자목록 -->
    <head th:replace="admin/header::head-fragment('식당 상세','restaurant-list')"> </head>
    <body>
        <div class="wrapper">
            <!-- Main Header Component -->
            <div th:replace="admin/header::header-nav"></div>
            <!-- Main Sidebar Component -->
            <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header Component -->
                <div class="content-header">
                    <!-- container-fluid -->
                    <div class="container-fluid">
                        <div class="card card-primary card-outline">
                            <!-- Header -->
                            <div class="card-header">
                                <h3 class="card-title">식당 정보 상세</h3>
                            </div>
                            <!-- /.Header -->
                            <div class="card-body">
                                <div class="grid-btn m-2">
                                    <button class="btn btn-info" th:onclick="'location.href=\'' + @{/admin/restaurants} + '\''"><i class="fa-solid fa-arrow-left"></i> 식당 목록</button>
                                </div>
                                <div>
                                    <p class="card-text">rid: <span th:text="${restaurant.rid}"></span></p>
                                    <p class="card-text">rcate: <span th:text="${restaurant.rcate}"></span></p>
                                    <p class="card-text">raddr: <span th:text="${restaurant.raddr}"></span></p>
                                    <p class="card-text">raddr_gu: <span th:text="${restaurant.raddrGu}"></span></p>
                                    <p class="card-text">rphone: <span th:text="${restaurant.rphone}"></span></p>
                                    <p class="card-text">rlocate_x: <span th:text="${restaurant.rlocateX}"></span></p>
                                    <p class="card-text">rlocate_y: <span th:text="${restaurant.rlocateY}"></span></p>
                                    <p class="card-text">kid: <span th:text="${restaurant.kid}"></span></p>
                                    <p class="card-text">krate: <span th:text="${restaurant.krate}"></span></p>
                                    <p class="card-text">kcount_rate: <span th:text="${restaurant.kcountRate}"></span></p>
                                    <p class="card-text">kcount_blog: <span th:text="${restaurant.kcountBlog}"></span></p>
                                    <p class="card-text">kkeyword: <span th:text="${restaurant.kkeyword}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.Content Header Component -->
            </div>
            <!-- /.Content Wrapper -->
            <!-- footer-fragment -->
            <div th:replace="admin/footer::footer-fragment"></div>
        </div>

        <!-- js 라이브러리 -->
        <!-- jQuery -->
        <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js}"></script>
        <!-- Fontawesome -->
        <script th:src="@{/webjars/font-awesome/6.2.0/js/fontawesome.min.js}"></script>
        <!-- sweetalert -->
        <script th:src="@{/webjars/sweetalert2/11.4.24/dist/sweetalert2.min.js}"></script>

        <script th:src="@{/admin/js/public.js}"></script>
        <script th:src="@{/admin/js/restaurant-list-detail.js}"></script>
    </body>
</html>
