<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- 식당목록 -->
    <head th:replace="admin/header::head-fragment('식당목록','restaurant-list')"> </head>
    <body>
        <div class="wrapper">
            <!-- Main Header Component -->
            <div th:replace="admin/header::header-nav"></div>
            <!-- Main Sidebar Component -->
            <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header Component -->
                <div class="content-header">
                    <!-- container-fluid -->
                    <div class="container-fluid">
                        <div class="card card-primary card-outline">
                            <!-- Header -->
                            <div class="card-header">
                                <h3 class="card-title">회원 정보 수정</h3>
                            </div>
                            <!-- /.Header -->
                            <div class="card-body">
                                <form role="form" name="insertForm">
                                    <div class="rid d-none">
                                        <label><input type="hidden" id="rid" required th:value="${restaurant.rid}" /> </label>
                                    </div>
                                    <div class="rname form-group">
                                        <label><input type="text" id="rname" size="30" autofocus placeholder="식당명을 입력하세요" required th:value="${restaurant.rname}" /> </label>
                                    </div>
                                    <div class="rcate form-group">
                                        <label><input type="text" id="rcate" size="30" placeholder="카테고리를 입력하세요" required th:value="${restaurant.rcate}" /> </label>
                                    </div>
                                    <div class="raddr form-group">
                                        <label><input type="text" id="raddr" size="30" placeholder="주소지를 입력하세요" required th:value="${restaurant.raddr}" /> </label>
                                    </div>
                                    <div class="raddr_gu form-group">
                                        <label><input type="text" id="raddr_gu" size="30" placeholder="구 명을 입력하세요" required th:value="${restaurant.raddrGu}" /> </label>
                                    </div>
                                    <div class="rphone form-group">
                                        <label><input type="text" id="rphone" size="30" placeholder="전화번호를 입력하세요" required th:value="${restaurant.rphone}" /> </label>
                                    </div>
                                    <div class="rlocate_x form-group">
                                        <label><input type="text" id="rlocate_x" size="30" placeholder="경도를 입력하세요" required th:value="${restaurant.rlocateX}" /> </label>
                                    </div>
                                    <div class="rlocate_y form-group">
                                        <label><input type="text" id="rlocate_y" size="30" placeholder="위도를 입력하세요" required th:value="${restaurant.rlocateY}" /> </label>
                                    </div>
                                    <div class="kid d-none">
                                        <label><input type="hidden" id="kid" required th:value="${restaurant.kid}" /> </label>
                                    </div>
                                </form>
                                <div>
                                    <button class="btn btn-info" onclick="submit()"><i class="fa-solid fa-check"></i> 수정하기</button>
                                    <button class="btn btn-info" onclick="cancel()"><i class="fa-solid fa-xmark"></i> 취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.Content Header Component -->
            </div>
            <!-- /.Content Wrapper -->
            <!-- footer-fragment -->
            <div th:replace="admin/footer::footer-fragment"></div>
        </div>

        <!-- js 라이브러리 -->
        <!-- jQuery -->
        <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js}"></script>
        <!-- Fontawesome -->
        <script th:src="@{/webjars/font-awesome/6.2.0/js/fontawesome.min.js}"></script>
        <!-- sweetalert -->
        <script th:src="@{/webjars/sweetalert2/11.4.24/dist/sweetalert2.min.js}"></script>

        <script th:src="@{/admin/js/public.js}"></script>
        <script th:src="@{/admin/js/restaurant-list-edit.js}"></script>
    </body>
</html>
