<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- 사이트 들어오면 메인 화면 -->
    <!-- 로그인 기능 -->
    <head th:replace="head::head-fragment('login','index')"> </head>

    <body>
        <h1>food</h1>
        <form action="login.do">
            <div>
                <label><input type="text" id="user_id" size="30" autofocus placeholder="이메일을 입력하세요" required /> </label>
            </div>
            <div>
                <label><input type="password" id="user_pw" size="30" placeholder="비밀번호를 입력하세요" required /> </label>
            </div>
            <div>
                <button type="button">소개</button>
                <button type="submit">로그인</button>
                <button type="button" onclick="location.href='join.html'">회원가입</button>
            </div>
        </form>
    </body>
</html>
