<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- 사이트 들어오면 메인 화면 -->
    <!-- 로그인 기능 -->
    <head th:replace="head::head-fragment('login','index')"> </head>

    <body>
        <h1>food</h1>
        <form id="loginForm">
            <div>
                <label><input type="text" name= "user_id" id="user_id" size="30" autofocus placeholder="이메일을 입력하세요" required /> </label>
            </div>
            <div>
                <label><input type="password" name="user_pw" id="user_pw" size="30" placeholder="비밀번호를 입력하세요" required /> </label>
            </div>
            <div>
                <button type="button">소개</button>
                <button type="button" onclick="login()">로그인</button>
                <button type="button" onclick="location.href='join.html'">회원가입</button>
            </div>
        </form>

        <!-- js 라이브러리 -->
        <!-- jQuery -->
        <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
        <!-- Fontawesome -->
        <script th:src="@{/webjars/font-awesome/6.2.0/js/fontawesome.min.js}"></script>
        <!-- sweetalert -->
        <script th:src="@{/webjars/sweetalert2/11.4.24/dist/sweetalert2.min.js}"></script>

        <script th:src="@{/public/js/public.js}"></script>
        <script th:src="@{/public/js/login.js}"></script>
    </body>
</html>
